---
- name: resolve platform specific vars
  include_vars: "{{item}}"
  with_first_found:
    - "{{ansible_distribution}}-{{ansible_distribution_release}}.yml"
    - "{{ansible_distribution}}.yml"
    - "{{ansible_os_family}}.yml"

- name: pkgs...
  become: yes
  become_user: root
  package: name={{item}} state=present
  with_items: '{{emacs_os_pkgs}}'

