(require 'package)
(add-to-list 'package-archives
             '({% for n, u in emacs_pkg_archives.iteritems() %} ("{{n}}" . "{{u}}"){% endfor %}))
(package-initialize)

(setq url-http-attempt-keepalives nil)

(defvar prelude-packages
  '({{emacs_pkgs | default([]) | join(" ")}})
  "A list of packages to ensure are installed at launch.")

(defun prelude-packages-installed-p ()
  (loop for p in prelude-packages
        when (not (package-installed-p p)) do (return nil)
        finally (return t)))

(unless (prelude-packages-installed-p)
  ;; check for new packages (package versions)
  (message "%s" "Emacs Prelude is now refreshing its package database...")
  (package-refresh-contents)
  (message "%s" " done.")
  ;; install the missing packages
  (dolist (p prelude-packages)
    (when (not (package-installed-p p))
      (package-install p))))

(provide 'prelude-packages)
