(require 'package)

(add-to-list
 'package-archives
 '("melpa" . "http://melpa.org/packages/"))

(package-initialize)

(defun install-it (pkg)
  (unless (package-installed-p pkg)
    (package-refresh-contents) (package-install pkg)))
(let ((pkgs '({{emacs_melpa_pkgs | join(" ")}})))
  (mapc 'install-it pkgs))
